<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>API Helper</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/helper.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/angular.js/1.6.9/angular.min.js"></script>
    <script src="/js/api_util.js"></script>
    <script>
    let roomId = '54612';
    let namePrefix = '${namePrefix}';
    </script>
    <script src="/js/api_room.js"></script>
</head>
<body ng-app="ngApiRoomApp">

<div class="body-background" style="top:0;left:0;width:100%;height:100%;overflow:hidden;">
    <div class="body-background blur-10" style="background-image:url(/css/portal_bg.jpg)"></div>
</div>

<div class="body-content" ng-controller="ApiRoomController">
    <div class="body-content-left scroll-container opacity-92" style="width:100%;">
        <#include "module/robot_hall.html" />
    </div>
</div>

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-brand"> &nbsp; API Helper</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/helper/robot">Robot</a>
                </li>
                <li>
                    <a href="/helper/account">Account</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>