<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doopp.gauss.common.dao.AccountDao">

    <select id="fetchList" resultType="com.doopp.gauss.common.entity.Account">
        SELECT
          *
        FROM
          `account`
        ORDER BY id DESC
        LIMIT
        <if test="offset!=null">#{offset,jdbcType=BIGINT}</if>
        <if test="offset==null">0</if>
        ,
        <if test="limit!=null">#{limit,jdbcType=INTEGER}</if>
        <if test="limit==null">30</if>
    </select>

    <select id="fetchByPlatform" resultType="com.doopp.gauss.common.entity.Account">
        SELECT
          *
        FROM
          `account`
        WHERE
           `platform` = #{platform,jdbcType=VARCHAR} AND `platform_uid` = #{platform_uid,jdbcType=VARCHAR}
        LIMIT
        1
    </select>

    <select id="fetchByAccount" parameterType="String" resultType="com.doopp.gauss.common.entity.Account">
        SELECT
            *
        FROM
            `account`
        WHERE
            account = #{account}
        LIMIT
            1
    </select>

    <select id="fetchBySessionToken" parameterType="String" resultType="com.doopp.gauss.common.entity.Account">
        SELECT
        *
        FROM
        `account`
        WHERE
        session_token = #{sessionToken}
        LIMIT
        1
    </select>

    <select id="count" resultType="Long">
        SELECT
            count(*)
        FROM
            `account`
        LIMIT
            1
    </select>

    <delete id="delete" parameterType="int">
        DELETE FROM `account` WHERE id=${id,jdbcType=BIGINT}
    </delete>

    <insert id="create" parameterType="com.doopp.gauss.common.entity.Account" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO `account`
            (`id`, `platform`, `platform_uid`, `verified`, `account`, `password`, `created_at`)
        VALUES
            (${id}, #{platform}, #{platform_uid},  ${verified}, #{account}, #{password}, ${created_at})
    </insert>

    <update id="update" parameterType="com.doopp.gauss.common.entity.Account">
        UPDATE
            `account`
        SET
            `platform` = #{platform},
            `platform_uid` = #{platform_uid},
            `verified` = ${verified},
            `account` = #{account},
            `password` = #{password},
            `created_at` = #{created_at}
        WHERE
            `id`=#{id,jdbcType=BIGINT}
    </update>

</mapper>